exp/
.exp/
scripts\Multi_cities_Deh_Dataset.csv
datasets/financial/solar_AL.txt
datasets/financial/traffic.txt
datasets/financial/electricity.txt
datasets/financial/exchange_rate.txt
SCINet/financ_predictions*
event/*
event/run_ETTh/SCINet/*
predictions/*
output/*
misc/*
log/*
err/*
datasets/financial/greek_scinet_dataset_*.txt
datasets/ETT-data/greek_energy*.csv
datasets/ETT-data/ETTh*.csv
metrics_summary/*
metrics/*
plots/*
group_outputs/*
metrics_tables/*
plots_comparison/*



